body {
    margin: 0;
    padding: 10px;
    width: 430px;
    height: 500px;
}

#bigBox{
    float: left;
    width: 410px;
    margin-bottom: 6px;
}

#myKeyWord {
    float: left;
    width: 200px;
    height: 400px;
    resize: none;
}

#searchButton{
    float: left;
    width: 60px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    background-color: #8A1480;
    color:#fff;
    font-size: 12px;
    text-align: center;
}
#searchButton:hover{
    background-color: #e259d1;
}